!!! 5
%html{:lang => "en"}
  = render 'head'
  %body
    %header
      = render 'nav', :blog => true
    #wrapper
      #name_title
        %a{:href => "/", :class => "link"}
          Ming-Ho's Blog
      #content
        %h1= @item[:title]
        .date= pretty_time(@item[:created_at])
        = yield
        .backtoblog
          = link_to('Back to blog', '/blog.html')
        .subscribe
          %a{:href => "https://mhyee.com/feed.xml"}
            %img{:src => "/styles/feed-icon.png"}
            Subscribe
        %hr.clear
