%nav#topnav
  %ul
    %li#home=   link_to_unless_current("Home", "/")
    %li#about=  link_to_unless_current("About", "/about.html")
    %li#blog
      - if @blog
        = link_to("Blog", "/blog.html", :class => "active")
      - else
        = link_to_unless_current("Blog", "/blog.html")
    %li#fydp=   link_to_unless_current("FYDP", "/fydp.html")
